.panel.panel-danger
  .panel-heading
    %h3.panel-title Внимание!
  .panel-body
    CoLibrary позволяет пользователям загружать свой контент на Сервис на «облачном» сервере для ознакомления с ними другими пользователями Вашей компании. Размещение Контента пользователей не означает одобрение, гарантии или заверения CoLibrary относительно законности, оригинальности или подлинности Контента пользователей. Владелец и/или пользователь, загрузивший Книгу, несет все риски, связанные с таким Контентом, включая, в частности, потенциальную правовую и иную ответственность перед другими пользователями услуг CoLibrary.
