.jumbotron.text-center
  %h1 Welcome to CoLibrary!
  %p About text
  %p
    - with_options class: "btn btn-primary btn-lg", role: "button" do |f|
      = f.link_to t(".sign_up"), new_user_path
      = t('.or')
      = f.link_to t(".sign_in"), new_session_path
